.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;
}
.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}
.nav-tabs {
    border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
    font-size: 1em;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    text-decoration: none;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #dee2e6 #dee2e6 #dee2e6;
}
.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #495057;
    background: linear-gradient(#fff, #f1f1f1);
    border-color: #dee2e6 #dee2e6 #f1f1f1;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.hrx-page .table-header {
    position: relative;
}
.hrx-page .table-header .page-pp {
    position: absolute;
    bottom: 0;
    margin-bottom: 9px;
}
.hrx-page .hrx-table-filter {
    background-color: rgba(0, 115, 170, 0.5);
}
.hrx-page .hrx-table-filter td {
    padding: 20px 10px;
}
.hrx-page .hrx-table-filter td input[type="checkbox"] {
    vertical-align: unset;
}
.hrx-page .hrx-table-filter td input[type="text"] {
    width: 100%;
    margin: 0;
    padding: 0 5px;
    vertical-align: unset;
}
.hrx-page .hrx-table-filter td select {
    width: 100%;
    margin: 0;
    padding: 0 21px 0 5px;
}
.hrx-page .hrx-table-filter td .filter-actions {
    display: flex;
    justify-content: space-between;
}
.hrx-page .hrx-table-filter td button {
}
.hrx-page .table-container tr.empty-table {
    text-align: center;
}
.hrx-page .table-container tr.empty-table td {
    padding: 20px 10px;
}
.hrx-page .table-container td.column-order_id {
    width: 110px;
}
.hrx-page .table-container td.column-order_status {
    width: 130px;
}
.hrx-page .table-container td.column-order_date {
    width: 120px;
}
.hrx-page .table-container td.column-warehouse_id {
    width: 250px;
}
.hrx-page .table-container td.column-zip {
    width: 100px;
}
.hrx-page .table-container td.column-selected {
    width: 130px;
}
.hrx-page .table-container td.column-hrx_order_status p {
    margin: 0 0 3px;
}
.hrx-page .table-container td.column-hrx_order_status .info-error {
    color: #e10000;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value {
    display: inline-block;
    padding: 0 5px 2px;
    border-radius: 5px;
    background: #909090;
    color: #fff;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.new {
    background-color: #6262f9;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.ready {
    background-color: #008000;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.error {
    background-color: #d00;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.in_delivery {
    background-color: #f962da;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.in_return {
    background-color: #ffa500;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.returned {
    background-color: #976200;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.delivered {
    background-color: #6f2961;
}
.hrx-page .table-container td.column-hrx_order_status .info-status .status-value.cancelled {
    background-color: #6fd1c3;
}
.hrx-page .table-container tr.data-row td.column-actions button {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    position: relative;
}
.hrx-page .table-container tr.data-row td.column-actions button:last-child {
    margin-bottom: 0;
}
.hrx-page .table-container tr.data-row td.column-actions button.hrx-loading:after {
    top: 5px;
    right: 5px;
}
.hrx-page .mass-buttons button.hrx-loading:after {
    top: 5px;
    left: 0;
    right: 0;
    margin: auto;
}
.hrx-page .table-container td.column-order_id .hrx-open-modal {
    float: right;
    width: 16px;
    padding: 18px 2px 2px 2px;
    height: 0;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    border-radius: 4px;
}
.hrx-page .table-container td.column-order_id .hrx-open-modal:hover {
    border: 2px solid #00a0d2;
}
.hrx-page .table-container td.column-order_id .hrx-open-modal:before {
    font-family: WooCommerce;
    speak: never;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\e010";
    line-height: 16px;
    font-size: 14px;
    vertical-align: middle;
    top: 2px;
}
.hrx-page .table-container td.column-order_id .hrx-open-modal.hrx-loading:before {
    display: none;
}
.hrx-page .hrx-modal-order_preview .modal-data-status {
    float: right;
    margin-right: 54px;
}
.hrx-page .hrx-modal-order_preview .modal-content {
    display: flex;
    flex-wrap: wrap;
}
.hrx-page .hrx-modal-order_preview .modal-content-billing,
.hrx-page .hrx-modal-order_preview .modal-content-shipping {
    flex: 50%;
}
.hrx-page .hrx-modal-order_preview .modal-content-products {
    flex: 100%;
    margin-top: 10px;
}
.hrx-page .hrx-modal-order_preview .modal-content-billing span,
.hrx-page .hrx-modal-order_preview .modal-content-shipping span {
    display: block;
}
.hrx-page .hrx-modal-order_preview span.woocommerce-Price-amount,
.hrx-page .hrx-modal-order_preview .woocommerce-Price-amount span {
    display: unset;
}
.hrx-page .hrx-modal-order_preview .modal-value-inline span {
    display: unset;
}
.hrx-page .hrx-modal-order_preview .modal-value-inline > span {
    display: inline-block;
    min-width: 70px;
    text-align: right;
}
.hrx-page .hrx-modal-order_preview .modal-value-inline .modal-value-inline-title {
    min-width: 30%;
    text-align: unset;
}
.hrx-page .hrx-modal-order_preview .modal-data-billing-total {
    font-weight: 600;
}
.hrx-page .hrx-modal-order_preview .modal-value-group {
    margin-top: 10px;
}
.hrx-page .hrx-modal-order_preview .modal-content-products table {
    width: 100%;
    border-collapse: collapse;
}
.hrx-page .hrx-modal-order_preview .modal-content-products table th,
.hrx-page .hrx-modal-order_preview .modal-content-products table td {
    text-align: right;
    padding: 3px;
    min-width: 60px;
    vertical-align: top;
}
.hrx-page .hrx-modal-order_preview .modal-content-products table th {
    border-bottom: 1px solid #ddd;
}
.hrx-page .hrx-modal-order_preview .modal-content-products table th:first-child,
.hrx-page .hrx-modal-order_preview .modal-content-products table td:first-child {
    text-align: left;
}
.hrx-page .hrx-modal-order_preview .modal-content-products table th:nth-child(2),
.hrx-page .hrx-modal-order_preview .modal-content-products table td:nth-child(2) {
    width: 100px;
    text-align: left;
}
.hrx-page .hrx-modal-order_preview .modal-content-products table th:nth-child(4),
.hrx-page .hrx-modal-order_preview .modal-content-products table td:nth-child(4) {
    width: 60px;
    text-align: center;
}

.hrx-page .hrx-modal-order_preview .modal-content-products table th:nth-child(3),
.hrx-page .hrx-modal-order_preview .modal-content-products table td:nth-child(3),
.hrx-page .hrx-modal-order_preview .modal-content-products table th:nth-child(5),
.hrx-page .hrx-modal-order_preview .modal-content-products table td:nth-child(5) {
    width: 70px;
}
